#cloud-config
autoinstall:
  version: 1
  refresh_installer:
    update: true
  locale: en_GB.UTF-8
  keyboard:
    layout: gb
    variant: gb
### START configure_storage.j2 INCLUDE FILE HERE ###
{% include ['files/override/configure_storage.j2', 'files/default/configure_storage.j2'] %}

### END configure_storage.j2 INCLUDE FILE HERE ###
{% if item.net_static | default(false) %}
  network:
    version: 2
    ethernets:
      {{ item.net_iface }}:
        dhcp4: false
        dhcp6: false
        addresses:
          - {{ item.net_v4_addr }}/{{ item.net_v4_cidr }}
        routes:
          - to: default
            via: {{ item.net_v4_gateway }}
            metric: 100
            on-link: true
        nameservers:
          addresses:
            - {{ item.net_dns_a }}
{% if item.net_dns_b | default(false) %}
            - {{ item.net_dns_b }}
{% endif %}
          search:
            - {{ item.net_search }}
{% endif %}
  ssh:
    install-server: true
    allow-pw: true
  apt:
    preserve_sources_list: false  # We need this set to 'false' to tell cloud-init to overwrite the default sources.list on disk
    primary:
      - arches: [amd64]
        uri: '{{ repo_mirror | default("http://archive.ubuntu.com/ubuntu/") }}'
    # Use a custom template to generate our sources.list file
    # Mainly I want to do this so we don't have the 'multiverse' and 'restricted'
    # package sources enabled out-of-the-box
    sources_list: |
      deb {{ repo_mirror | default("http://archive.ubuntu.com/ubuntu/") }} $RELEASE main universe
      #deb-src {{ repo_mirror | default("http://archive.ubuntu.com/ubuntu/") }} $RELEASE main universe

      deb {{ repo_mirror | default("http://archive.ubuntu.com/ubuntu/") }} $RELEASE-updates main universe
      #deb-src {{ repo_mirror | default("http://archive.ubuntu.com/ubuntu/") }} $RELEASE-updates main universe
{% if item.apt_proxy is defined %}
  # If we configured a HTTP(S) proxy for apt, then add it here
  #
  # This setting persists in the installed system, inside
  #   /etc/apt/apt.conf.d/90curtin-aptproxy
  # and will continue to be used by future invocations of apt.
  #
  # This is an Ubuntu Autoinstall specific extension to cloud-init
  # which configures proxy settings during install and for Apt as
  # well as Snap in the fully-installed system.
  #
  # It seems that Ubuntu doesn't work (fully) with the similar
  # 'proxy', 'http_proxy' and 'https_proxy' settings which come
  # from curtin and can be passed as second-level keys to the
  # apt: key. The earliest steps in the install process seem to
  # fail if the curtin/apt method of configuring a proxy is used
  # and the system is deployed in an environment which does not
  # permit non-proxied access to the upstream sources.
  proxy: {{ item.apt_proxy }}
{% endif %}
{% if item.enable_podman | default(false) %}
    sources:
      podman:
        # We only need this until 22.04 LTS, which will carry Podman in the official repos
        source: deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ /
        key: |
          -----BEGIN PGP PUBLIC KEY BLOCK-----
          Version: GnuPG v1.4.5 (GNU/Linux)

          mQENBFtkV0cBCADStSTCG5qgYtzmWfymHZqxxhfwfS6fdHJcbGUeXsI5dxjeCWhs
          XarZm6rWZOd5WfSmpXhbKOyM6Ll+6bpSl5ICHLa6fcpizYWEPa8fpg9EGl0cF12G
          GgVLnnOZ6NIbsoW0LHt2YN0jn8xKVwyPp7KLHB2paZh+KuURERG406GXY/DgCxUx
          Ffgdelym/gfmt3DSq6GAQRRGHyucMvPYm53r+jVcKsf2Bp6E1XAfqBrD5r0maaCU
          Wvd7bi0B2Q0hIX0rfDCBpl4rFqvyaMPgn+Bkl6IW37zCkWIXqf1E5eDm/XzP881s
          +yAvi+JfDwt7AE+Hd2dSf273o3WUdYJGRwyZABEBAAG0OGRldmVsOmt1YmljIE9C
          UyBQcm9qZWN0IDxkZXZlbDprdWJpY0BidWlsZC5vcGVuc3VzZS5vcmc+iQE+BBMB
          CAAoBQJfcJJOAhsDBQkIKusHBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRBN
          ZDkDdQYKpB0xCACmtCT6ruPiQa4l0DEptZ+u3NNbZfSVGH4fE4hyTjLbzrCxqcoh
          xJvDKxspuJ85wWFWMtl57+lFFE1KP0AX2XTT+/v2vN1PIfwgOSw3yp2sgWuIXFAi
          89YSjSh8G0SGAH90A9YFMnTbllzGoGURjSX03iasW3A408ljbDehA6rpS3t3FD7P
          PnUF6204orYu00Qvc54an/xVJzxupb69MKW5EeK7x8MJnIToT8hIdOdGVD6axsis
          x+1U71oMK1gBke7p4QPUdhJFpSUd6kT8bcO+7rYouoljFNYkUfwnqtUn7525fkfg
          uDqqXvOJMpJ/sK1ajHOeehp5T4Q45L/qUCb3iEYEExECAAYFAltkV0cACgkQOzAR
          t2udZSOoswCdF44NTN09DwhPFbNYhEMb9juP5ykAn0bcELvuKmgDwEwZMrPQkG8t
          Pu9n
          =42uC
          -----END PGP PUBLIC KEY BLOCK-----
{% endif %}
  packages:
    - acl                     # main
    - conntrack               # main
    - curl                    # main
    - htop                    # main
    - libpam-pwquality        # main
    - lsof                    # main
    - nano                    # main
    - python3                 # main
    - python3-pexpect         # main
    - rsync                   # main
    - sosreport               # main
    - sysstat                 # main
    - tcpdump                 # main
    - ufw                     # main
    - unzip                   # main
    - wget                    # main
{% if item.cis_hardening | default(false) %}
    - aide                    # main
    - auditd                  # main
    - libopenscap8            # universe
{% endif %}
{% if item.enable_podman | default(false) %}
    - podman                  # third-party
{% endif %}
{% if item.enable_zfs | default(false) %}
    - zfsutils-linux          # main
{% endif %}
{% if item.enable_mta | default(false) %}
    - mailutils               # main
    - postfix                 # main
{% endif %}
{% if item.nas_tools | default(false) %}
    - lm-sensors              # universe
    - sanoid                  # universe
    - smartmontools           # main
{% endif %}
{% if item.workstation_deployment | default(false) %}
    - ubuntu-desktop-minimal  # main
{% endif %}
  # Update and upgrade packages on first boot
  package_update: true
  package_upgrade: true
  # Run late commands to finalise installation
  late-commands:
{% if item.disable_auto_upgrades | default(false) %}
    # Disable automatic updates if requested
    - curtin in-target --target=/target -- apt-get --purge -y --quiet=2 remove unattended-upgrades
    - ln -fs /dev/null /target/etc/systemd/system/apt-daily.timer
    - ln -fs /dev/null /target/etc/systemd/system/apt-daily-upgrade.timer
{% endif %}
    # Disable apport automatic crash reporting (creating these links to /dev/null is the exact same action `systemctl mask` takes)
    - ln -fs /dev/null /target/etc/systemd/system/apport.service
    # Disable Ubuntu Advantage since we're not going to use it
    - ln -fs /dev/null /target/etc/systemd/system/ua-timer.timer
    - ln -fs /dev/null /target/etc/systemd/system/ua-license-check.timer
    # Disable internet-based MOTD updates
    - sed -i 's/ENABLED=1/ENABLED=0/' /target/etc/default/motd-news
    - ln -fs /dev/null /target/etc/systemd/system/motd-news.timer
    # Disable fwupd database updates (we can still run this manually with `sudo fwupdmgr refresh` if we want to)
    - ln -fs /dev/null /target/etc/systemd/system/fwupd-refresh.timer
{% if item.workstation_deployment | default(false) %}
    # Not removing Plymouth as we selected a Workstation install
{% else %}
    # Remove Plymouth
    - curtin in-target --target=/target -- apt-get --purge -y --quiet=2 remove plymouth
{% endif %}
{% if item.enable_snapd | default(false) %}
    # We selected to enable_snapd so it will not be removed in this late-commands section
{% else %}
    # Remove snapd
    # NOTE: We cannot do a --purge here directly via curtin. If we try, then
    #       then the install process fails and warns that the file /run/snapd/ns/lxd.mnt
    #       is actively in use and can't be removed.
    #
    #       Looking at the info from a similar bug report, the recommended fix is the
    #       one I have deployed below, which uses chroot instead to run the purge command.
    #
    #       See: https://bugs.launchpad.net/subiquity/+bug/1946609
    - chroot /target apt-get --purge -y --quiet=2 remove snapd
    # Remove any stray artefacts still hanging around from our snapd install
    - /usr/bin/rm -rf /target/root/snap
    - /usr/bin/rm -rf /target/snap
{% endif %}
{% if item.enable_mta | default(false) %}
    # Configure Postfix to listen only on localhost
    - /usr/bin/sed -i 's/inet_interfaces = all/inet_interfaces = 127.0.0.1/g' /target/etc/postfix/main.cf
{% endif %}
{% if item.cis_hardening | default(false) %}
    # Enable CIS hardening on this system
    - /usr/bin/echo '{{ cisscript.stdout }}' | /usr/bin/base64 --decode | /usr/bin/gunzip | /usr/bin/tee /target/root/ubuntu2004-script-cis_level2_server.sh
    - curtin in-target --target=/target -- /usr/bin/bash /root/ubuntu2004-script-cis_level2_server.sh
    # Since CIS hardening installs ntpd for some reason (instead of Chrony or systemd-timesyncd),
    # we need to tweak the config to stop it listening on all interfaces.
    #
    # Note that if we use the 'ntp' module inside 'user-data' then the config changes we make here
    # will get overwritten on first-boot, so we want to avoid that if possible.
    - /usr/bin/echo 'restrict lo' | /usr/bin/tee --append /target/etc/ntp.conf
    - /usr/bin/echo 'interface ignore wildcard' | /usr/bin/tee --append /target/etc/ntp.conf
    - /usr/bin/echo 'interface listen lo' | /usr/bin/tee --append /target/etc/ntp.conf
{% endif %}
{% if item.remove_machine_id | default(false) %}
    # Remove /etc/machine-id in installed system
    - /usr/bin/rm -fv /target/etc/machine-id
    - /usr/bin/touch /target/etc/machine-id
{% endif %}
{% if item.cis_hardening | default(false) %}
    # Disable the default daily run of AIDE to avoid scanning our entire system
    # daily as a result of the cron job that the `aide-common` package installs.
    #
    # This does not remove the cron job from /etc/cron.daily but it makes it so
    # that AIDE does not actually run when the cron job fires.
    #
    # This means our produced images never come out of the box with daily AIDE
    # scans enabled, but that we can easily enable them later if we want, just
    # by setting CRON_DAILY_RUN=yes on hosts where we want daily AIDE runs.
    - /usr/bin/sed -i 's/^#CRON_DAILY_RUN=yes/CRON_DAILY_RUN=no/g' /target/etc/default/aide
{% endif %}
# Clean up apt with an autoremove and clean
    - curtin in-target --target=/target -- apt-get --purge -y --quiet=2 autoremove
    - curtin in-target --target=/target -- apt-get clean
    # Configure UFW on the target system with a basic default of only ingress SSH being allowed
    - curtin in-target --target=/target -- /usr/sbin/ufw --force reset
    # We need to run the following commands inside chroot instead of curtin because they depend on
    # inserting the ip6_tables kernel module in order to successfully run and that module doesn't
    # seem to actually ship on the ISO inside the installer environment. So we chroot into our
    # installed system where we definitely have the module available in order to run these commands.
    - chroot /target /usr/sbin/ufw limit ssh
    - chroot /target /usr/sbin/ufw enable
    # Sync disks and reboot/poweroff
    - sync
    - sync
    - sleep 10
{% if item.poweroff | default(false) %}
    - poweroff
{% endif %}
  user-data:
    hostname: '{{ item.hostname | default('ubuntu') }}'
### START configure_users.j2 INCLUDE FILE HERE ###
{% include ['files/override/configure_users.j2', 'files/default/configure_users.j2'] %}

### END configure_users.j2 INCLUDE FILE HERE ###
    timezone: '{{ item.timezone | default('Etc/UTC') }}'
# NOTE: I have removed the "ntp" user-data configuration option here because it was running
#       after the installation finished, and overwriting /etc/ntp.conf, causing us to lose
#       the settings I specifically write into it for CIS-hardened systems, which stop the
#       NTP client from also listening on all interfaces and acting as a server.
