    # Please do not change the indentation of the configure_users.j2 file
    # when editing it. It will be transcluded into the user-data.j2 file
    # and built into the final user-data file to be fed to cloud-init.
    users:
      - name: user
        groups: sudo
        lock_passwd: false  # True by default since cloud-init is really intended for Cloud systems
        passwd: "{{ user_password | string | password_hash('sha512') }}"
        shell: '/bin/bash'
        uid: '9001'  # The user's default group ('user') will also use this as the GID (helpful since we can't set GIDs manually in a 'groups:' stanza).