  # Please do not change the indentation of the configure_storage.j2 file
  # when editing it. It will be transcluded into the user-data.j2 file
  # and built into the final user-data file to be fed to cloud-init.
  storage:
    version: 1
    config:
      #
      # Format Disk
      - id: disk_sda
        name: main_disk
{% if item.disk_serial | default(false) %}
        serial: {{ item.disk_serial }}
{% else %}
        path: {{ item.disk_path }}
{% endif %}
{% if item.legacy_bios | default(false) %}
        grub_device: true
        ptable: msdos
{% else %}
        ptable: gpt
{% endif %}
        type: disk
        wipe: superblock
      #
      # Create Partitions
{% if item.legacy_bios | default(false) %}
      - id: part_bios
        type: partition
        size: 1M
        device: disk_sda
        flag: bios_grub
{% else %}
      - id: part_esp
        type: partition
        grub_device: true
        size: 600M
        device: disk_sda
        flag: esp
{% endif %}
      - id: part_boot
        type: partition
        size: 1GB
        device: disk_sda
        flag: boot
      - id: part_main
        device: disk_sda
        size: -1
        type: partition
{% if item.disk_encryption | default(false) %}
      #
      # Create LUKS container (if we have the 'disk_encryption' variable set)
      - id: crypt_main
        type: dm_crypt
        dm_name: crypt_main
        volume: part_main
        key: '{{ luks_password | string }}'
{% endif %}
      #
      # Create LVM Volume Group
      - id: vg_ubuntu
        name: ubuntu_lvm
        type: lvm_volgroup
        devices:
{% if item.disk_encryption | default(false) %}
          - crypt_main
{% else %}
          - part_main
{% endif %}
      #
      # Create Logical Volumes
      - id: lv_root
        name: root
        size: 24G  # This is a larger / than we use for RHEL, because Ubuntu will set up a swap image at /swap.img for us
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_var
        name: var
        size: 10G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_opt
        name: opt
        size: 1G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_tmp
        name: tmp
        size: 2G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_vartmp
        name: vartmp
        size: 5G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_logs
        name: logs
        size: 2G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_auditlogs
        name: auditlogs
        size: 2G
        type: lvm_partition
        volgroup: vg_ubuntu
      - id: lv_home
        name: home
        size: 2G
        type: lvm_partition
        volgroup: vg_ubuntu
      #
      # Format Partitions / Logical Volumes
{% if not item.legacy_bios | default(false) %}
      - id: fs_esp
        type: format
        fstype: fat32
        volume: part_esp
{% endif %}
      - id: fs_boot
        type: format
        fstype: ext4
        volume: part_boot
      - id: fs_root
        type: format
        fstype: ext4
        volume: lv_root
      - id: fs_var
        type: format
        fstype: ext4
        volume: lv_var
      - id: fs_opt
        type: format
        fstype: ext4
        volume: lv_opt
      - id: fs_tmp
        type: format
        fstype: ext4
        volume: lv_tmp
      - id: fs_vartmp
        type: format
        fstype: ext4
        volume: lv_vartmp
      - id: fs_logs
        type: format
        fstype: ext4
        volume: lv_logs
      - id: fs_auditlogs
        type: format
        fstype: ext4
        volume: lv_auditlogs
      - id: fs_home
        type: format
        fstype: ext4
        volume: lv_home
      #
      # Configure /etc/fstab Entries
      - id: mount_root
        type: mount
        path: /
        device: fs_root
      - id: mount_boot
        options: 'nosuid,nodev'
        type: mount
        path: /boot
        device: fs_boot
{% if not item.legacy_bios | default(false) %}
      - id: mount_esp
        options: 'nosuid,nodev'
        type: mount
        path: /boot/efi
        device: fs_esp
{% endif %}
      - id: mount_var
        type: mount
        options: 'nodev'
        path: /var
        device: fs_var
      - id: mount_opt
        options: 'nodev'
        type: mount
        path: /opt
        device: fs_opt
      - id: mount_tmp
        options: 'nodev,nosuid'
        type: mount
        path: /tmp
        device: fs_tmp
      - id: mount_vartmp
        options: 'nodev,noexec,nosuid'
        type: mount
        path: /var/tmp
        device: fs_vartmp
      - id: mount_logs
        options: 'nodev,noexec,nosuid'
        type: mount
        path: /var/log
        device: fs_logs
      - id: mount_auditlogs
        options: 'nodev,noexec,nosuid'
        type: mount
        path: /var/log/audit
        device: fs_auditlogs
      - id: mount_home
        options: 'nodev,nosuid'
        type: mount
        path: /home
        device: fs_home