default live
label live
  menu label ^Autoinstall Ubuntu Server (Non-HWE Kernel, user-data v{{ ks_version }})
  kernel /casper/vmlinuz
  append   initrd=/casper/initrd quiet autoinstall ds=nocloud;s=/cdrom/ ---
label liveskip
  menu label ^Skip disk check and Autoinstall Ubuntu Server (Non-HWE Kernel, user-data v{{ ks_version }})
  kernel /casper/vmlinuz
  append   initrd=/casper/initrd quiet autoinstall ds=nocloud;s=/cdrom/ fsck.mode=skip ---
label memtest
  menu label Test ^memory
  kernel /install/mt86plus
label hd
  menu label ^Boot from first hard disk
  localboot 0x80
