{% for build in packer_builds %}
source "vmware-iso" "Ubuntu2004_{{ build.name }}" {
  cd_files             = ["../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/user-data","../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/meta-data"]
  cd_label             = "cidata"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "ubuntu-64"
  iso_checksum         = "sha256:{{ packer_iso_sha256 }}"
  iso_url              = "{{ packer_iso_source }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_Ubuntu2004_{{ build.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver | default('13') }}"
  vm_name              = "Ubuntu2004_{{ build.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // We need VNC enabled for Packer to type the boot_command
  disable_vnc      = false

  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator     = "ssh"
  shutdown_command = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout = "10m"
  ssh_password     = "{{ packer_user_password }}"
  ssh_timeout      = "30m"
  ssh_username     = "{{ packer_user }}"

  // Raise the limit on SSH handshake attempts, because the Subiquity
  // installer starts its own SSH server (which our credentials won't
  // be correct for). This causes Packer to quit after it tries
  // to authenticate to this server and fails too many times.
  ssh_handshake_attempts  = 1000

  // Once the SSH server is detected to be working, give the host another
  // few minutes before doing anything, to finish the cloud-init setup
  // and snapd preseeding and other first-run tasks.
  pause_before_connecting = "2m"

  // Pass the "autoinstall" kernel argument to the boot process, so that
  // the automatic install completes properly.
  //
  // TODO: Make this more robust as there's a high chance of race
  //       conditions when using simulated keyboard input.
  boot_wait = "4s"
  boot_command = [
    "e<wait>",
    "<down><down><down><wait>",
    "<end><wait>",
    " autoinstall<wait>",
    "<leftCtrlOn><x><leftCtrlOff>"
  ]
}
{% endfor %}

build {
  sources = [
{% for build in packer_builds %}
    "source.vmware-iso.Ubuntu2004_{{ build.name }}",
{% endfor %}
  ]

  {% if build.poweroff | default(false) %}
  // Not running a provisioner because we configured the cloud-init
  // run to poweroff when it completed.
  {% else %}
  {% if build.remove_machine_id | default(false) %}
  // Remove the /etc/machine-id file if configured in our config to do so.
  //
  // We touch the file to make sure that the system does not treat subsequent
  // boots post-image-deployment as the 'first boot', as they won't be one.
  // (In particular this causes Fedora 34 to hang with a black screen).
  //
  provisioner "shell" {
    inline = [
      "echo '{{ packer_user_password }}' | sudo -S rm -fv /etc/machine-id",
      "echo '{{ packer_user_password }}' | sudo -S touch /etc/machine-id"
    ]
  }
  {% endif %}
  {% endif %}
}
