{% for build in packer_builds %}
source "qemu" "Ubuntu2004_{{ build.name }}" {
  accelerator      = "kvm"
  cd_files         = ["../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/user-data","../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/meta-data"]
  cd_label         = "cidata"
  cpus             = 2
  disk_interface   = "virtio-scsi"
  disk_size        = "{{ packer_disk_gb * 1024 | default('65536') }}M"
  format           = "qcow2"
  headless         = false
  iso_checksum     = "sha256:{{ packer_iso_sha256 }}"
  iso_url          = "{{ packer_iso_source }}"
  memory           = 4096
  output_directory = "VM_Ubuntu2004_{{ build.name }}_{{ ks_version }}"
  vm_name          = "Ubuntu2004_{{ build.name }}_{{ ks_version }}.qcow2"

  // Use a virtio-net (default) adapter for networking
  net_device = "virtio-net"

  // Use EFI with QEMU (this requires the edk2-ovmf package installed)
  firmware = "/usr/share/edk2/ovmf/OVMF_CODE.fd"

  // Do not use a communicator as our cloud-init deployment is configured to power the VM off at the end of the install run
  communicator     = "none"
  shutdown_timeout = "30m"

  // Pass the "autoinstall" kernel argument to the boot process, so that
  // the automatic install completes properly.
  //
  // TODO: Make this more robust as there's a high chance of race
  //       conditions when using simulated keyboard input.
  boot_wait = "7s"
  boot_command = [
    "e<wait>",
    "<down><down><down><wait>",
    "<end><wait>",
    " autoinstall<wait>",
    "<leftCtrlOn><x><leftCtrlOff>"
  ]

{% if ansible_distribution == "RedHat" %}
  // On RHEL 8 systems, we need to tell Packer where to look for
  // the qemu-kvm binary.
  //
  // See: https://github.com/hashicorp/packer/issues/10892#issuecomment-816399596
  //
  qemu_binary = "{{ qemu_binary }}"
{% endif %}
}
{% endfor %}

build {
  sources = [
{% for build in packer_builds %}
    "source.qemu.Ubuntu2004_{{ build.name }}",
{% endfor %}
  ]
}
