// For the variables below, our Makefile will use the example
// values from '../files/default/vsphere_vars.pkrvars.hcl'
// but will load '../files/override/vsphere_vars.pkrvars.hcl'
// if that exists instead.
//
// Without a properly configured set of variables, this config
// should be considered an example as it will not be functional.

variable "datacenter_name" { type = string }
variable "datastore_name" { type = string }
variable "iso_paths" { type = list(string) }
variable "network_name" { type = string }
variable "vcenter_endpoint" { type = string }
variable "vcenter_host" { type = string }
variable "vcenter_password" { type = string }
variable "vcenter_user" { type = string }

source "vsphere-iso" "{{ os_version }}_Packer_GM" {
  // Use our variables to configure the connection to vSphere
  datacenter     = var.datacenter_name
  datastore      = var.datastore_name
  host           = var.vcenter_host
  password       = var.vcenter_password
  username       = var.vcenter_user
  vcenter_server = var.vcenter_endpoint

  // Use other vars to configure the connection to the built VM
  // and the location of the ISO to be booted
  iso_paths    = var.iso_paths

  // Configure VM
  cd_files             = ["../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/user-data","../.cloud-init/ubuntu2004_{{ build.name }}_{{ ks_version }}/meta-data"]
  cd_label             = "cidata"
  CPUs                 = 2
  disk_controller_type = ["scsi"]
  firmware             = "efi-secure"
  guest_os_type        = "ubuntu_64Guest"
  insecure_connection  = true
  RAM                  = 4096
  RAM_reserve_all      = false
  remove_cdrom         = true
  vm_name              = "{{ os_version }}_Packer_GM_{{ ks_version }}_VMware"
  vm_version           = "{{ vmware_vhw_ver | default('13') }}"
  network_adapters {
    network      = var.network_name
    network_card = "vmxnet3"
  }
  storage {
    disk_size             = {{ packer_disk_gb * 1024 | default('65536') }}
    disk_thin_provisioned = true
  }

  // Do not use a communicator as our cloud-init deployment is configured to power the VM off at the end of the install run
  communicator     = "none"
  shutdown_timeout = "30m"

  // Pass the "autoinstall" kernel argument to the boot process, so that
  // the automatic install completes properly.
  //
  // TODO: Make this more robust as there's a high chance of race
  //       conditions when using simulated keyboard input.
  boot_wait = "4s"
  boot_command = [
    "e<wait>",
    "<down><down><down><wait>",
    "<end><wait>",
    " autoinstall<wait>",
    "<leftCtrlOn><x><leftCtrlOff>"
  ]

  // Configure export settings (optional)
  // export {
  //   force            = true
  //   output_directory = "packer_out"
  // }
}

build {
  sources = ["source.vsphere-iso.{{ os_version }}_Packer_GM"]
}
